*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

#ryan's added bag of goodness
/application/config/config.php
/application/config/database.php
/112/unique.php
/db_tasks/backup_dbs_config.php
/db_tasks/cleanup_db.php
/application/libraries/tracker/Trackerlib.php
/application/views/hits_view.php