<?php
$con = mysql_connect('localhost', 'tracker', 'pw');
mysql_select_db("tracker", $con) or die("dead");

$today = date("Y-m-d");
echo "Script execution time: ".date("H:i:s")."<br>";
$result = mysql_query("SELECT DISTINCT ip FROM tbl_tracking WHERE YMD='$today' AND refer NOT IN ('no data' ) AND hostname NOT IN ('ukspider4.wise-guys.nl')", $con) or die("fish");
$num_rows = mysql_num_rows($result);

echo "$num_rows \n";

$to = "ryan@pinescore.com";
$subject = "$num_rows";
$message = "$num_rows Unique visitors https://novascore.io/tools/hits/yesterday";
$from = "tracking@novascore.io";
$headers = "From:" . $from;
mail($to,$subject,$message,$headers);

?>
